[Desktop Entry]
Encoding=UTF-8
Name=CARITAS
Comment=CARITAS P2P Cryptocurrency
Comment[fr]=CARITAS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CARITAS, eşten eşe kriptografik sanal para birimi
Exec=caritas-qt %u
Terminal=false
Type=Application
Icon=caritas128
MimeType=x-scheme-handler/caritas;
Categories=Office;Finance;
