[Unit]
Description=CARITAS's distributed currency daemon
After=network.target

[Service]
User=caritas
Group=caritas

Type=forking
PIDFile=/var/lib/caritasd/caritasd.pid

ExecStart=/usr/bin/caritasd -daemon -pid=/var/lib/caritasd/caritasd.pid \
          -conf=/etc/caritas/caritas.conf -datadir=/var/lib/caritasd

ExecStop=-/usr/bin/caritas-cli -conf=/etc/caritas/caritas.conf \
         -datadir=/var/lib/caritasd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
